<!DOCTYPE html>
<html>
    <head>
        <title>Undirected Graph</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="public\script\undirected.js"></script>
        <style>
          body{
            background-color: black;
            color:gainsboro;
          }
          #title {
            font-size: 16px;
          }
          h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
          }
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          tr:nth-child(even) {
            background-color: #333333;
          }
          select {
            -webkit-appearance:none;
            -moz-appearance:none;
            -ms-appearance:none;
            appearance:none;
            outline:0;
            box-shadow:none;
            border:0!important;
            background: #5c6664;
            background-image: none;
            flex: 1;
            padding: 0 .5em;
            color:#fff;
            cursor:pointer;
            font-size: 1em;
            font-family: 'Open Sans', sans-serif;
         }
         select::-ms-expand {
            display: none;
         }
         .select {
            position: relative;
            display: flex;
            width:85em;
            height: 3em;
            line-height: 3;
            background: #5c6664;
            overflow: hidden;
            border-radius: .25em;
         }
         .select::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1em;
            background: #2b2e2e;
            cursor:pointer;
            pointer-events:none;
            transition:.25s all ease;
         }
         .select:hover::after {
            color: #23b499;
         }
        </style>
    </head>
    <body>
        <div class="w3-top">
            <div class="w3-bar w3-black w3-wide w3-padding w3-card">
              <a href="/home" class="w3-bar-item w3-button">Game of Thrones</a>
              <div class="w3-right w3-hide-small">
                <a href="/dinamis" class="w3-bar-item w3-button">Directed Graph</a>
                <a href="/search" class="w3-bar-item w3-button">Search</a>
                <a href="/undirected" class="w3-bar-item w3-button">Undirected Graph</a>
              </div>
            </div>
          </div>
        <div class="w3-content w3-padding-32" style="max-width:1564px">
          <h2 class="w3-center w3-padding-32">Undirected Graph</h2>
          <div class="select">
            <select name="format" id="format" onchange="onChange()">
                <option selected disabled>Choose a book</option>
                <option value="book1">Book 1</option>
                <option value="book2">Book 2</option>
                <option value="book3">Book 3</option>
                <option value="book4">Book 4</option>
                <option value="book5">Book 5</option>
            </select>
          </div>
          <div id="table-container" class="w3-padding-32"></div>
        </div>
    </body>
</html>